body
{
    font-family: Verdana;
    background: url('../Images/background2.jpg') no-repeat center center fixed;
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
}
#startButton
{
    width: 52em;
    height: 4em;
    margin-top: 250px;
}
#welcomePageStart
{
    top:45%;
    left:45%;
}
.header
{
    font-size: 1.9em;
    text-align: center;
    text-emphasis: bold;
    font-weight: 800;
}
.buttonContainer
{
    width: 31em;
    height: 6em;
    margin: 0 auto;
}
.buttonContainer > button, #startButton, .footer > a > button
{
    background-color: lawngreen;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 0.4em;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#setTimer
{
    margin-top: 6em;
    background-color: rgb(0, 178, 255);
    color: black;
    border: none;
    border-radius: 0.9em;
    font-weight: 600;
    font-size: 1.6em;
    padding: 2em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4;
}
#setTimer:hover
{
    background-color: rgb(0, 40, 181);
    color: white;
}
.footer > a > button
{
  background-color: rgb(190, 16, 64);
}

.buttonContainer > button:hover
{
    background-color: seagreen;
    color: white;
}
.footer > a > button:hover
{
    background-color: indigo;
    color: white;
}
#startButton:hover
{
    background-color: seagreen;
    color: white;
}

.floatLeft
{
    padding-left: 5em;
    float: left;

}
.floatRight
{
    padding-right: 5em;
    float: right;
}
.secondDemoDescription
{
    font-size: 1.2em;
    padding-left: 20em;
    padding-right: 20em;
    padding-bottom: 5em;
    color:rgb(245, 245, 129);
}

h1.demo_header1 {
    align-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 2.5em;

}

.mainSection
{
    margin-top: 5em;
    text-align: center;
    height: 50em;
    width: 100%;
}

.nextDemo
{
    position:absolute;
    top: 80%;
    left: 80%;

}
.previousDemo
{
    position: absolute;
    top: 80%;
    left: 20%;
}
.mainSection input
{
    margin-top: 1em;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.mainSection input::-webkit-input-placeholder
{
    font-size: 1.5em;
}
.mainSection span
{
  font-size: 1.5em;
}

.mainSection > .secondDemoH2
{
  font-size: 1.5em;
}

.footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 4em;
    margin: 0 auto;
}
